@import "compass/css3";
@import "compass/css3/user-interface";

* {
  @include box-sizing("border-box");
}

html, body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  margin: 10px;
}

.vis-holder {
  // outline: 1px dashed red; //debug
  overflow: hidden;
  width: 100%;
  padding-top: 40px; // extra padding for bounce ease effect on cards
  padding-bottom: 2px;
  @include box-shadow(0px 5px 0px #e2e2e2);
  @include user-select(none);
}

.resolution-vis {
  outline: 1px dashed #e2e2e2; //debug
  position: relative; //.resolution-card's will have absolute positioning
}

.resolution-card {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  text-align: center;
  font-size: 13px;
  background-color: scale-lightness(#8be234, 0.2);
  border: 1px solid #408000;
  @include border-radius(3px);
  @include transition(left 150ms ease, top 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 100ms ease);
  .resolution-title {
    pointer-events: none;
  }
  .res-divider {
    display: inline;
    &.multiline {
      display: block;
    }
  }
  .device-names {
    display: none;
    font-size: 10px;
    line-height: 1.4em;
    pointer-events: none;
  }
  &.tablet {
    border: 1px solid red;
  }
  &:hover {
    background-color: #66cc00;
  }
  &.selected {
    background-color: #66cc00;
    // border: 1px solid #408000;
    .device-names {
      display: block;
      @include user-select(text);
    }
  }
}

.footnote {
  font-size: smaller;
}

fieldset {
  border: none;
}