@import "compass/css3/";
@import "compass/utilities";
@import "compass/css3/user-interface";

* {
  @include box-sizing("border-box");
}

html, body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  margin: 10px;
}

.vis-holder {
  // outline: 1px dashed red; //debug
  overflow-y: hidden;
  // overflow-x: hidden;
  overflow-x: scroll;
  width: 100%;
  padding-top: 40px; // extra padding for bounce ease effect on cards
  padding-bottom: 2px;
  margin-bottom: 5px; // add margin-bottom due to box-shadow
  @include box-shadow(0px 5px 0px #e2e2e2);
  @include user-select(none);
}

.resolution-vis {
  // outline: 1px dashed #e2e2e2; //debug
  position: relative; //.resolution-card's will have absolute positioning
}

.resolution-card {

  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  text-align: center;
  font-size: 13px;
  color: darken(#f0f0f0, 35%);
  background-color: #f0f0f0;
  border: 1px solid darken(#f0f0f0, 25%);
  @include border-radius(3px);
  // @include single-box-shadow( darken(#f0f0f0, 15%), 0, 0, 30px, -10px, true );
  @include transition(left 150ms ease, top 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 100ms ease);
  
  .resolution-title {
    pointer-events: none;
    margin-bottom: 3px;
  }

  .res-divider {
    display: inline;
    &.multiline {
      display: block;
    }
  }

  &:hover {
    background-color: darken(#f0f0f0, 10%);
  }

  &.selected {
    color: #333;
    background-color: darken(#f0f0f0, 5%);
    border: 1px solid lighten(#333, 20%);
    // @include single-box-shadow( darken(#f0f0f0, 25%), 0, 0, 30px, -10px, true );
    .device-names {
      display: block;
      @include user-select(text);
    }
  }

  .device-names {
    display: none;
    font-size: 10px;
    line-height: 1.4em;
    pointer-events: none;
  }

  // &.phone {
  //   // green
  //   color: #408000;
  //   border: 1px solid #66cc00;
  //   &:hover {
  //     background-color: lighten( #66cc00, 20% );
  //   }
  // }
  // &.tablet {
  //   // purple
  //   color: #49166d;
  //   border: 1px solid #8c68a6;
  //   &:hover {
  //     background-color: lighten( #8c68a6, 20% );
  //   }
  // }
  
}

#tooltip {
  position: absolute;
  display: block;
  max-width: 320px;
  left: 0;
  top: 0;
  z-index: 1000;
  display: none;
  &.show {
    display: inline-block;
  }
}



.tooltip {
  border: 1px solid #ccc;
  padding: 15px 20px 15px 15px;
  background-color: #fff;
  // @include single-box-shadow( darken(#f0f0f0, 25%), 0, 0, 15px, -5px, true );
  @include box-shadow( darken(#f0f0f0, 25%) 0 0 15px -5px inset, #d0d0d0 3px 3px 0px  );

  // box-shadow: 3px 3px 0px #d0d0d0;

  h3 {
    font-size: 14px;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1em;
  }

}

.footnote {
  font-size: smaller;
}

fieldset {
  border: none;
}